<div class="container-fluid">
  <section id="buscador">
    <div class="container-fluid">
      <h1 class="fs-1 text-center">Marketplace</h1>
      <a
        class="btn btn-success position-absolute top-0 end-0 mt-2 me-2"
        href="#"
        role="button"
        (click)="showShoppingCart()"
      >
        Carrito de Compras
      </a>
      <div
        *ngIf="isShoppingCartVisible"
        class="container-fluid border border-success-subtle"
        id="collapse-shopping-cart"
      >
        <app-shopping-cart></app-shopping-cart>
      </div>
      <br />
      <br />
      <div class="d-flex justify-content-end">
        <label for="search" class="form-label p-1 fs-4">Buscar: </label>
        <input
          class="form-control w-25"
          type="text"
          name="search"
          id="search"
          (keyup)="searchByText($event)"
        />
      </div>
      <br />
    </div>
  </section>

  <section id="products">
    <div class="slider border border-primary-subtle mt2">
      <app-products></app-products>
    </div>
  </section>
</div>
