<div class="slides">
  <div class="container" *ngFor="let producto of productos">
    <div class="h-100 w-100 rows-container">
      <h3>{{ producto.title }}</h3>
      <p>Price: ${{ producto.price }}</p>
      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle position-absolute top-0 start-50"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item active"
              href="#"
              role="button"
              (click)="addProductToCart(producto)"
            >
              AGREGAR
            </a>
          </li>
        </ul>
      </div>
      <img alt="" src="{{ producto.image }}" />
    </div>
  </div>
</div>
