* {
  box-sizing: border-box;
}

.slider {
  overflow: hidden;
}

.slides {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  display: flex;
  scroll-snap-points-x: repeat(300px);
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;

  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
}

#btn-product {
  position: relative;
  float: left;
  top: 25px;
  left: 15px;
}
.rows-container {
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  align-items: center;
  justify-content: center;
}
